.wrap {
   background-color: #f0f0f0;
   padding: 25px;
   border-radius: 25px;
   display: flex;
   gap: 20px;
   @media (max-width: 1000px) {
      flex-direction: column;
   }
}
.shopwrap {
   padding-bottom: 40px;
}
.card {
   flex-grow: 1;
   background-color: #fff;
   transition: 0.5s;
   padding: 25px;
   height: 450px;
   border-radius: 20px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left;
   &:hover {
      flex-grow: 3;

   }
   &:nth-child(1) {
      background-image: url(/sale-1.png);
   }
   &:nth-child(2) {
      background-image: url(/sale-2.png);
   }
   &:nth-child(3) {
      background-image: url(/sale-3.png);
   }
   &:nth-child(4) {
      background-image: url(/sale-4.png);
   }
}